* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

:root {
  --primary-colour: #ce8b49;
  --secondary-colour: #341a00;
  --tertiary-colour: #ffffff;
}

html {
  display: block;
  scroll-behavior: smooth;
}

body {
  color: var(--tertiary-colour);
  background-color: var(--secondary-colour);
  overflow-x: hidden;
}

/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem 8%;
  background-color: rgba(52, 26, 0, .8);
  border-bottom: .1rem solid #5e4123;
  z-index: 999;
}

.logo {
  transition: .4s all ease;
}

.logo:hover {
  transform: scale(1.08);
  text-shadow: 0 0 1rem black;
}

.logo a {
  font-size: 2.1rem;
  color: var(--tertiary-colour);
  font-weight: 700;
}

.logo a span {
  font-style: italic;
  color: var(--primary-colour);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0 2.3rem;
  transition: .4s all ease;
}

nav ul li:hover {
  transform: scale(1.12);
}

nav ul li a {
  font-size: 1.3rem;
  color: var(--tertiary-colour);
  font-weight: 600;
  transition: .4s all ease;
}

nav ul li a:hover {
  color: var(--primary-colour);
  text-shadow: 0 0 .1rem var(--primary-colour);
}

nav ul li a::after {
  content: '';
  display: block;
  padding-bottom: .5rem;
  border-bottom: .1rem solid var(--primary-colour);
  transform: scaleX(0);
  transition: .3s linear;
}

nav ul li a:hover::after {
  transform: scaleX(.8);
}

.extras a {
  margin: 0 .5rem;
}

.extras a i {
  font-size: 2rem;
  color: var(--tertiary-colour);
  font-weight: 500;
  transition: .4s all ease;
}

.extras a i:hover {
  color: var(--primary-colour);
  transform: scale(1.2);
}

#hamburger-menu {
  display: none;
}

header .search-column {
  position: absolute;
  width: 50%;
  height: 111%;
  display: flex;
  align-items: center;
  top: 100%;
  right: 10%;
  background-color: var(--tertiary-colour);
  transform: scaleY(0);
  transform-origin: top;
  transition: .3s all;
}

header .search-column.active {
  transform: scaleY(1);
}

header .search-column input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-colour);
}

header .search-column label {
  margin-right: 1.5rem;
  font-size: 2.3rem;
  color: var(--secondary-colour);
  font-weight: 700;
  cursor: pointer;
}

header .cart {
  position: absolute;
  width: 44%;
  height: 100vh;
  padding: 0 1.5rem;
  top: 100%;
  right: -100%;
  color: var(--secondary-colour);
  background-color: var(--tertiary-colour);
  transition: .5s linear;
}

header .cart.active {
  right: 0;
}

header .cart .shopping {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding-bottom: 1rem;
  gap: 1.5rem;
  border-bottom: .18rem dashed #808080;
}

header .cart .shopping img {
  height: 10rem;
  border-radius: 1rem;
}

.cart .shopping .stuff h3 {
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.cart .shopping .stuff .price {
  font-size: 1.4rem;
}

header .cart .shopping i {
  position: absolute;
  padding: .5rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border: .2rem solid var(--tertiary-colour);
  border-radius: 50%;
  transition: .3s all ease;
}

header .cart .shopping i:hover {
  color: #e50b0b;
  border: .2rem solid #f60303;
  transform: scale(1.11);
}

/* Hero */

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../assets/images/banner/karl-chor-UvWlksgZGPE-unsplash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  display: block;
  background: linear-gradient(0deg, rgba(52, 26, 0, 1) 7%, rgba(255, 255, 255, 0) 42%);
}

.hero main {
  padding: 1.4rem 8%;
  max-width: 72rem;
}

.hero main h3 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 500;
  /* mix-blend-mode: difference; */
  text-shadow: .3rem .3rem .5rem rgba(52, 26, 0, .5);
}

.hero main h1 {
  font-size: 7rem;
  color: var(--tertiary-colour);
  font-weight: 700;
  text-shadow: .3rem .3rem .5rem rgba(52, 26, 0, .5);
}

.hero main h1 span {
  color: var(--primary-colour);
}

.hero main p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: .3rem .3rem .5rem rgba(52, 26, 0, .5);
}

.hero main .cta {
  display: inline-block;
  margin-top: 1.8rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--tertiary-colour);
  text-shadow: .3rem .3rem .5rem rgba(52, 26, 0, .5);
  box-shadow: .3rem .3rem .5rem rgba(52, 26, 0, .5);
  border: .2rem solid var(--primary-colour);
  border-radius: .5rem;
  background-color: var(--primary-colour);
  cursor: pointer;
  transition: .4s all ease-in-out;
}

.hero main .cta:hover,
.area form button:hover {
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  transform: scale(1.06);
}

/* About */
.about,
.service,
.product,
.contact {
  padding: 8rem 7% 2rem;
}

.about h2,
.service h2,
.product h2,
.contact h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.about h2 span,
.service h2 span,
.product h2 span,
.contact h2 span,
.contact h3 span {
  color: var(--primary-colour);
}

.about .content {
  display: flex;
}

.about .content .profile {
  flex: 1 1 45rem;
}

.about .content .profile img {
  width: 100%;
  border-radius: .5rem;
}

.about .content .text {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .content .text h3 {
  margin: 1rem 0;
  font-size: 2rem;
}

.about .content .text h3 span {
  color: var(--primary-colour);
}

.about .content .text p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Service */

.service h2 {
  /* overwrite */
  margin-bottom: 2rem;
}

.service h3 {
  font-size: 1.5rem;
}

.service p,
.product p {
  max-width: 45rem;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.service .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.menu .card {
  padding-bottom: 4rem;
  text-align: center;
}

.menu .card img {
  width: 60%;
  border-radius: 50%;
}

.menu .card .title {
  margin: 1rem auto .5rem;
}

.menu .card .price {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Product */

.product .item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: 4rem;
  gap: 1.5rem;
}

.product .item .card {
  padding: 2rem;
  text-align: center;
  border: .1rem solid #808080;
  border-radius: .3rem;
}

.product .item .card .icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.item .card .icons a {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 5rem;
  color: var(--tertiary-colour);
  border: .2rem solid transparent;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

.item .card .icons a:hover {
  font-weight: 600;
  color: var(--primary-colour);
  transform: scale(1.1);
  border: .2rem solid var(--primary-colour);
  background-color: rgba(255, 255, 255, 0.893);
}

.icons a i {
  font-size: 2.5rem;
}

.product .item .card .detail {
  padding: 1rem 0;
}

.item .card .detail img,
.modal .container .detail img {
  height: 25rem;
}

.item .card .description h3 {
  font-size: 2rem;
}

.item .card .description .rating {
  padding: 0.8rem;
  font-size: 1.7rem;
}

.item .card .description .price {
  font-size: 1.5rem;
  font-weight: 600;
}

.item .card .description .price span {
  color: rgba(255, 255, 255, 0.692);
  font-weight: 400;
  text-decoration: line-through;
}

/* Contact */

.contact h2 {
  /* overwrite */
  margin-bottom: 1.2rem;
}

.contact h3 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.contact .area {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(34, 34, 34);
}

.contact .area .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .area form {
  flex: 1 1 45rem;
  padding: 3rem 2rem;
  text-align: center;
}

.area form .input {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-left: 2rem;
  border: .1rem solid #f5f5f5;
  background-color: var(--secondary-colour);
}

.area form .input i {
  font-size: 1.5rem;
}

.area form .input input {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--tertiary-colour);
  background: none;
}

.area form button {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: var(--tertiary-colour);
  font-weight: 600;
  text-shadow: .3rem .3rem .5rem rgba(52, 26, 0, .5);
  border: .2rem solid var(--primary-colour);
  background-color: var(--primary-colour);
  cursor: pointer;
  transition: .4s all ease-in-out;
}

/* Footer */

footer {
  margin-top: 3rem;
  padding: 1rem 0 2rem;
  text-align: center;
  background-color: var(--primary-colour);
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  margin: 1rem;
  color: var(--tertiary-colour);
  transition: .4s all;
}

footer .social a:hover,
footer .link a:hover {
  color: var(--secondary-colour);
}

footer .social a i {
  font-size: 2.3rem;
}

footer .link {
  margin-bottom: 1.5rem;
}

footer .link a {
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  color: var(--tertiary-colour);
  font-weight: 600;
  transition: .4s all;
}

footer .credit {
  font-size: 1.2rem;
}

footer .credit a {
  color: var(--secondary-colour);
  font-weight: 600;
}

/* Responsive Breakpoints */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  nav {
    position: absolute;
    width: 55%;
    height: 100vh;
    top: 100%;
    right: -100%;
    background-color: var(--tertiary-colour);
    transition: .3s;
  }

  nav.active {
    right: 0;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  nav ul li:hover {
    transform: none;
  }

  nav ul li a {
    font-size: 2rem;
    color: var(--secondary-colour);
  }

  nav ul li a::after {
    transform-origin: 0 0;
  }

  nav ul li a:hover::after {
    transform: scale(.3);
  }

  header .search-column {
    width: 60%;
  }

  header .cart {
    width: 55%;
  }

  .hero main .cta {
    padding: 1.2rem 2.1rem;
    font-size: 1.8rem;
  }

  .about .content {
    flex-wrap: wrap;
  }

  .about .content .profile img {
    height: 24rem;
    object-fit: cover;
  }

  .about .content .text {
    padding: 0;
  }

  .about .content .text h3 {
    font-size: 2rem;
    text-align: center;
  }

  .about .content .text p {
    font-size: 1.5rem;
  }

  .contact .area {
    flex-wrap: wrap;
  }

  .contact .area .map {
    height: 30rem;
  }

  .contact .area form {
    padding-top: 0;
  }

  .area form button {
    padding: 1.2rem 2.1rem;
    font-size: 1.8rem;
  }
}

/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 62.5%;
  }

  nav {
    width: 66%;
  }

  header .search-column {
    width: 80%;
  }

  header .cart {
    width: 77%;
  }

  .hero main {
    max-width: 45rem;
  }

  .hero main .cta {
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
  }

  .area form button {
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
  }
}